/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Judson', sans-serif;
    background-color: #ffd9b3;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
}

/* Navigation bar */

.nav-wrapper {
    background-color: #e6ad73;
}

.sidenav {
    background-color: #e6ad73;
}

.sidenav li a {
    color: #fff;
}

.user-dropdown {
  background-color: #ffd9b3;
}
ul.user-dropdown li > a {
  color: #fff;
}

/* Home Page */

.card .card-content {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card {
    background-color: #e6ad73;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vh;
}

.card-content a h4 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/* Flash messages */

.flashes {
    border-radius: 5px;
    margin: 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

/* Footer */

footer {
    background-color: #e6ad73;
    padding-top: 0px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}

