/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Judson', sans-serif;
    background-color: #ffd9b3;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation bar */

.nav-wrapper {
    background-color: #e6ad73;
}

.sidenav {
    background-color: #e6ad73;
}

.sidenav li a {
    color: #fff;
}

/* Home Page */

.card .card-content {
  padding: 10px;
}

.card {
    background-color: #e6ad73;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.card-image a img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.card-content {
    font-size: 10px;
}

/* Flash messages */

.flashes {
    font-size: 10px;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

/* Footer */

footer {
    background-color: #e6ad73;
    padding-top: 0px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}

