<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Mofejeun</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">
                    <i class="mofejeun-logo"></i>
                    Mofejeun
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="#">Search</a></li>
                    {% if session.user %}  
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                        <li>
                            <a class="dropdown-trigger" href="#" data-target="user-dropdown">
                                {{ session.user }}
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul id="user-dropdown" class="user-dropdown dropdown-content">
            <li><a href="{{ url_for('profile', username=session.user) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>

        <!-- mobile sidenavbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align">Mofejeun</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Search</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                    <li>
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    {{ session.user }}
                                    <i class="material-icons right">arrow_drop_down</i>
                                </div>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="{{ url_for('profile', username=session.user) }}">Profile</a></li>
                                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>

    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="deep-orange darken-3 center-align">{{ message }}</h4>
                        <i class="material-icons" id="flash-close">close</i>
                    </div>
                    
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            © 2021 Mofejeun
            <a class="right" href="#!"></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>