{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">{{ recipe.recipe_name }}</h3>

    <div class="row card-panel">
            
            <div class="row recipe-image-card">
                <div class="col s6 center-align">
                    <img class="recipe-image" src="{{ recipe.recipe_image }}" alt="{{ recipe.description }}">
                </div>
                <div class="col s6 center-align">    
                    <i class="material-icons medium">local_dining</i>
                    <h6>{{ recipe.serves }}</h6>
                    <i class="material-icons medium">timer</i>
                    <h6>{{ recipe.prep_time }}</h6>
                    <i class="material-icons medium">map</i>
                    <h6>{{ recipe.country }}</h6>
                </div>
            </div>

            <div class="row">
                <h6 class="description">{{ recipe.description }}</h6>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3>Ingredients</h3>
                    {% for ingredient in recipe.ingredients %}
                    <ol>{{ recipe.ingredients }}</ol>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3>Steps</h3>
                    {% for steps in recipe.steps %}
                    <ol>{{ recipe.steps }}</ol>
                    {% endfor %}
                </div>
            </div>

        <!-- edit button -->    
        {% if session.user|lower == recipe.author|lower %}   
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                            Edit Recipe <i class="material-icons right">edit</i>
                        </a>
                    </button>
                    <button class="btn-large">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">
                            Delete Recipe <i class="material-icons right">edit</i>
                        </a>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}